{% extends 'layouts/admin.html.twig' %}

{% block title %}{{ 'admin.home'|trans }}{% endblock %}

{% block content %}
    <h1>todo list</h1>
    <ul>
        <li>Finir formulaire création tâche</li>
        <li>liste tâche à valider</li>
        <li>% des tâches en court + clickable pour aller voir la tâche</li>
        <li>timeline tâche en cours</li>
    </ul>

    <a href="{{ path('add_task') }}" class="btn btn-primary" role="button" title="{{ 'task.add'|trans }}">{{ 'task.add'|trans }}</a>


{% endblock %}
