{% extends 'layouts/admin.html.twig' %}

{% block title %}{{ 'task.add'|trans }}{% endblock %}

{% block content %}

    <ul>
        <li>validation</li>
        <li>label date</li>
        <li>widget value date</li>
        <li>rendre deadline required</li>
        <li>gérer errors csv file genre required</li>
        <li>controller createAction</li>
    </ul>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
