// variables bootstrap

// boutons
$btn-primary-bg: lighten(black, 10%);
$btn-primary-border: lighten(#9d9d9d, 10%);
$btn-primary-color: white;

// menu
$navbar-inverse-color: white;
$navbar-inverse-bg: black;
$navbar-inverse-border: none;




  // chemin fonts
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

  // imports
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";
@import "~flatpickr/dist/flatpickr.css";




header{
  min-height: 50px;
  margin-bottom: 25px;
}

nav{
  width: 100%;
  position: fixed;
  top: 0;
}
nav .container-fluid{
  border-bottom: 1px solid white !important;
}
nav .navbar-toggle{
  margin: 0;
  line-height: 0;
  font-size: 210%;
}
nav .navbar-toggle:hover{
  color: white;
  border-color: white;
}
.navbar-header{
  color: #9d9d9d;
}

#flags a{
  text-align: center;
}
#flags img{
  height: 20px;
}
#flags{
  min-width: 102px;
}



/* menu ordi */
@media (min-width: 768px) {
  #menuProfile > a{
    margin-right: -15px;
  }
}

/* menu smartphone */
@media (max-width: 768px) {
  #flags li{
    display: inline-block;
    margin-left: 15px;
  }
  #flags li,
  #flags li > a{
    padding: 5px;
  }

  #flags li > a:hover{
    background-color: #2a2a2a;
  }
}



footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: black;
  color: $navbar-inverse-link-color;
  border-top: 1px solid white;
}
footer p{
  margin: 0 60px;
}
footer a{
  color: $navbar-inverse-link-color;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
#footer-phantom{
  height: 30px;
}


.required:after {
  content: "*";
}











/* drag and drop file */
#dndFile .dndholder {
  height: 100px;
  margin: 10px;
  text-align: center;
  background-color: #b3b4cc;
}
#dndFile .dnddefault{
  border: 10px dashed #333333 !important;
}
#dndFile .dndsuccess,
#dndFile .dndhover{
  border: 10px dashed #5bcc36 !important;
  background-color: #baccc5 !important;
}
#dndFile .dndbadformat {
  border: 10px dashed #cc562b !important;
}
#dndFile .dndholder span{
  display: none;
  margin-top: 30px;
  font-weight: bold;
}
#dndFile .dnddefault span:first-child,
#dndFile .dndhover span:first-child,
#dndFile .dndsuccess span:nth-child(2),
#dndFile .dndbadformat span:last-child{
  display: block;
}
/*
#dndFile .dndbadformat span:first-child,
#dndFile .dndbadformat span:nth-child(2),
#dndFile .dndsuccess span:first-child,
#dndFile .dndsuccess span:last-child,
#dndFile .dnddefault span:nth-child(2),
#dndFile .dnddefault span:last-child{
  display: none;
}
*/